@import "./styles/nav.css";
@import "./styles/description.css";
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');




body {
    width: 100%;
    background-color: rgb(36, 29, 29);
    margin: auto;
    padding-top: 50px;
    display: block;
    justify-content: center;
}

.Derecho {
    font-family: 'Kosugi', sans-serif;
    display: block;
    width: 50%;
    align-items: center;
    margin: auto;
    max-width: 400px;

}

.tecnologias {
    width: 100%;
    justify-content: space-around;
    border: 5px dashed rgba(161, 160, 160, 0.2);
    border-radius: 18px;
}

.tecnologias:hover,
.container-datos:hover {
    background-color: rgba(255, 255, 255, 0.05);

}

.container-todo {
    display: block;
    width: 50%;
   justify-content: center;
  align-items: center;
    margin: 20px auto;
}

.container-foto_nombre {
    font-family: 'Kosugi', sans-serif;
    font-size: 2em;
    background: linear-gradient(to right, #961111, #3a15a0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    transition: text-shadow 1s, color 1s;
}
.container-foto_nombre:hover {
    color: grey;
    text-shadow: 2px 2px  1px rgb(98, 180, 30), 4px 4px 1px #3a15a0, 6px 6px 1px #cddd3a;
    
}
.Container-foto {
    margin: auto;
    width: auto;
    height: auto;
    background-color: aliceblue;
}

.Container-foto-foto {

    margin: 30px;
    margin-top: 5px;
    border-radius: 50%;
    max-width: 80%;
    opacity: 0.5;
    transition: opacity 1s;
}

.Container-foto-foto:hover {
    opacity: 1;

}

.container-datos {

    font-family: 'Kosugi', sans-serif;
    color: white;
    max-width: 400px;
    padding: 0px 0px 10px 0px;
    border-radius: 18px;
    text-align: center;
    border: 5px dashed rgba(161, 160, 160, 0.2);
}

.container-datos_h1 {
    font-family: 'Kosugi', sans-serif;
    font-size: 40px;
    color: white;
    text-align: start;
    padding: 5px;
    margin  : 0px;
    border-radius: 13px 13px 0px 0px ;
    background-color: rgba(255, 255, 255, 0.1);
}

button:hover {
    color: #3498db;
    border: none;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    scale: 1.1;
}

button {
    transition: scale 0.8s;
    font-family: 'Kosugi', sans-serif;
    font-size: 25px;
    background: none;
    color: antiquewhite;
    border: none;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tecnologias-list,
.java-list {
    display: grid;
    grid-template: "auto auto auto"
        "auto auto auto";
    width: auto;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    color: aliceblue;
    list-style: none;

}

i {
    font-size: 50px;
}

.tecnologias-name {
    font-size: 0.6em;
    text-align: center;
}

.li-web {
    width: 50px;

    font-size: 1em;
    display: block;
    text-align: center;
    transition: scale 0.5s;
}

.li-web:hover {
    color: #3498db;
    text-shadow: 1px 1px 1px #3498db;
    scale: 1.2;
}

.tecnologia-h1 {
    margin-top: 0px;
    border-radius: 13px 13px 0px 0px ;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    padding: 5px;
}

.tecnologia-h2 {
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    color: rgb(133, 130, 130);
    padding: 5px;

}
@media (max-width: 768px) {
    .container-datos_h1  {
        font-size: 1em;
padding-left: 15px ;
    }
    .tecnologia-h1, .tecnologia-h2{
        font-size: 1em;
    }
    .tecnologias .container-todo {
        margin: auto;
    }

    body {
        display: block;
        
    }

    .Derecho {

        width: 85%;
        margin: auto;
max-width: 400px;
padding: 10px;
    }

    .Container-foto-foto {
        width: auto;

    }

    .container-todo {
        width: 90%;

    }

    button {

        font-size: 20px;
        background: none;
        color: antiquewhite;
        border: none;
    }

}



