@import "./styles/nav.css";
@import "./styles/description.css";
@import "./styles/pacman.css";
@import "./styles/proyectos.css";
@import "./styles/tecnologias.css";
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
html{
    min-height: 100vh;
    height: fit-content;
    background-image: url("./icons/fondo1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    height: 100%;
    margin: 0px;
    width: 100%;
    display: block;
    }




@media (max-width: 768px) {
    body {
        display: block;
    }
}



