@import "./styles/nav.css";
@import "./styles/description.css";
@import "./styles/pacman.css";
@import "./styles/proyectos.css";
@import "./styles/tecnologias.css";
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

html {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    background-image: url("./icons/fondo1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    height: 100%;
    margin: 0px;
    width: 100%;
    display: block;
}


@media (max-width:1020px) {
    .Contenedor-descripcion {
        width: 100%;
        padding: 0px;
        min-height: 62vh;



    }

    .cara-redes {

        width: 100%;
    }

    .descripcion {
        margin: auto;
        display: block;
        width: 100%;
    }

    .cara-redes {
        width: 100%;
    }

    .caras {
        margin: 20px auto;

    }

    #text {

        margin: auto;
        min-width: 80%;
        font-size: 1.1em;
    }

    .tecnologias {
        position: absolute;
        right: 5px;
        bottom: 0px;
        scale: 0.40;
    }
}


@media (max-width: 768px) {
    .descripcion {
        position: relative;
        max-width: 100%;
    }

    .tecnologias {
        position: absolute;
        right: 5px;
        top: -30%;
        scale: 0.40;
    }
}

@media (max-height:800px) {
    .tecnologias {
        position: absolute;
        left: 25%;
        bottom: 0px;
        scale: 0.40;

    }
}