@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.Contenedor-descripcion {
  margin: 40px 0px;
  min-height: 47vh;
  
}

.descripcion {
  max-width: 100%;
  margin: auto;
  height: fit-content;
  display: flex;
  justify-content: space-around;

}



#text {
  border: 5px double black;
  border-radius: 8px;
  padding: 20px;
  background-color: rgb(163, 161, 161);

  font-size: 1.4em;
  font-family: "MedievalSharp", cursive;
  font-weight: 300;
  font-style: normal;
  text-shadow: 3px 3px 6px rgb(50, 50, 50);
  text-align: justify;


  min-width: 80%;
  max-width: 80%;

}

.caras {
  
  min-width: 130px;
  min-height: 160px;
  width: 130px;
  height: 160px;


  background-image: url("../icons/carasHablando.svg");
  background-size: 6400%;
  background-position: left;
  animation: 7.7s move ease-in 1;
  animation-timing-function: steps(63);

}
.caras:hover{
scale: 1.2;
}
@keyframes move {
  from {
    background-position: left;
    background-position: right;

  }
}

@media screen and (max-width:767px) {
  .Contenedor-descripcion {
    width: 100% ;
    padding: 20px 0px;
    height: 60vh;
    max-height: 70vh;
    min-height: fit-content;

  }

  .descripcion {
    margin: auto;
    display: block;
    width: 100%;

  }

  .caras {
    margin: 20px auto;

  }

  #text {
    margin: auto;
    width: 100%;
    font-size: 1.1em;
  }
}