    .tecnologias{
        position: absolute;
        left: 27%;
        bottom: 20%;
        scale: 0.80;
        }
#jugamos{
    
    font-family: "MedievalSharp", cursive;
    color: rgb(32, 32, 32);
    font-size: 30PX    ;
    text-align: center;
}
.gameboy{
    margin: auto;
    
    min-width: 148px;
    min-height: 234px;
    width: 148px;
    height: 234px;



background-image: url("../icons/StartGameBoy.svg");
background-size: 300%;
background-position: left;
animation: 2s gameboy ease infinite;
animation-timing-function: steps(2);

}

@keyframes gameboy {
   0%{
    background-position: left;
    background-position: right;
   } 
}

  