.contenedor-pacman{
     width: 100%;
     height: fit-content;
     margin: auto;
}
.pacman {
  
    min-width: 130px;
    min-height: 50px;
    width: 130px;
    height: 50px;
    background-size: 1500%;
    background-image: url("../icons/Pacman.svg");
}

.movePacman {
    animation: 1.5s move ease reverse infinite;
    background-position: left;
    animation-timing-function: steps(14);
    
}
